<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace是命名空间，必须保证唯一性,如果是用接口编程那么工作空间必须和mapper类路径一致 -->
<mapper namespace="com.syf.study.mapper.MybatisOrderMapper">
	<select id="queryOrdersByUserId" parameterType="java.lang.Integer" resultMap="baseMap">
		select * from mybatis_order where user_id=#{userId}
	</select>
	
	<resultMap type="MybatisOrder" id="baseMap">
		<id column="id" property="id"/>
		<result column="order_number" property="orderNumber"/>
		<result column="creat_date" property="creatDate"/>
		<result column="price" property="price"/>
		<!-- 多对一，多个订单对应一个用户 -->
		<association column="user_id" property="mybatisStudent" select="com.syf.study.mapper.MybatisStudentMapper.queryById"></association>
	</resultMap>
	
	<!-- 多对多 -->
	<resultMap type="MybatisOrder" id="moreToMoreMap">
		<id column="id" property="id"/>
		<result column="order_number" property="orderNumber"/>
		<result column="creat_date" property="creatDate"/>
		<result column="price" property="price"/>
		<collection column="id" property="courses" select="com.syf.study.mapper.MybatisCourseMapper.queryCourseByOrderId"></collection>
	</resultMap>
	
	<select id="queryOrderAndCourse" resultMap="moreToMoreMap" parameterType="java.lang.Integer">
		select * from mybatis_order where id=#{id}
	</select>
</mapper>